*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables CSS */
:root{
    --bodyColor: #050321;
    --backgroundTituloPrincipal: #14063f;
    --colorTituloPrincipal: #fff;
    --colorButton: #2f0e94;
    --colorButtonHover: #4f1aef;
}

body{
    background-color: var(--bodyColor);
}

h1{
    color: var(--colorTituloPrincipal);
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--backgroundTituloPrincipal) ;
}

h2{
    color: var(--colorTituloPrincipal);
    text-align: center;
    margin: 1rem 0 1rem 0;
}

#fecha{
    color: var(--colorTituloPrincipal);
    font-weight: 600;
    /* margin-left: 2rem; */
    align-self: start;
    margin: 0 0 0 1.5rem;
    padding: 1rem;
}

#formulario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input{
    padding: 0.5rem;
    border: 2px solid var(--colorButtonHover);
    border-radius: 5px;
    width: 70vw;
    margin: 2px;
}

button{
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--colorButton);
    color: var(--colorTituloPrincipal);
    padding: 0.5rem;
    border: 2px solid var(--backgroundTituloPrincipal);
    box-shadow: var(--colorTituloPrincipal) 1px 0px 8px 0px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover{
    background-color: var(--colorButtonHover);
}

#list{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 3.8rem;
    width: 80vw;
    margin: 0 auto;
    padding: 0.8rem;
    border: 2px solid var(--colorTituloPrincipal);
    border-radius: 5px;
    box-shadow: var(--colorButtonHover) 0px 0px 8px 0px inset;
}

#completed{
    color: var(--colorButton);
}

#completed:hover{
    color: var(--colorButtonHover);
}

#trash{
    color: var(--colorButton)
}

#trash:hover{
    color: var(--colorButtonHover)
}

/* Media querys */

@media (max-width: 768px){
    #formulario{
        flex-direction: column;
    }
    input{
        padding: 0.8rem;
        width: 90vw;
    }
    button{
        box-shadow: var(--colorTituloPrincipal) 0px 0px 8px 0px;
        margin-top: .6rem;
        width: 90vw;
    }
    #list{
        width: 90vw;
    }
}
